a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #c81623
}
.header {
    float: right;
    height: 780px;
    width: 100px;
    text-align: center;
    margin: 20px;
    background-color: #fff;
}
.hyrz,
.hzw,
.yjdwb,
.ss,
.ll,
.lzy {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #ecabad;
}
